absl-py==0.9.0
aniso8601==7.0.0
asgiref==3.3.1
astor==0.8.1
Django==3.1.3
django-filter==2.4.0
djangorestframework==3.12.2
gast==0.3.2
google-pasta==0.1.8
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
grpcio==1.26.0
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
numpy==1.16.6
promise==2.3
protobuf==3.11.2
pytz==2020.4
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.4.1
termcolor==1.1.0
Unidecode==1.1.1
Werkzeug==0.16.0
wrapt==1.11.2
